

<div id="sectionHeader">
    <a href="http://www.ed.ac.uk/schools-departments/clinical-sciences/edinburgh-imaging" target="_blank">
         <span id="parentTitle">Edinburgh Imaging Academy</span>
	     <asset:image src="edinburgh-imaging.jpg" alt="Edinburgh Imaging"/>
    </a> 
</div>