<p><g:link controller="course" action="index">Courses</g:link> > <g:link controller="course" action="show" id="${test.lecture.module.course.id}"><f:display bean="test" property="lecture.module.course.name" /></g:link> > <g:link controller="module" action="show" id="${test.lecture.module.id}"><f:display bean="test" property="lecture.module.name" /></g:link> > <g:link controller="lecture" action="listTests" id="${test.lecture.id}"><f:display bean="test" property="lecture.name" /></g:link> > ${test?.name} > Questions</p>

