/* 
 * Additional styling for orbits
 */
body {
	background: #e6e6e6 !important;
}

.container { background: white;}

#Content {
	min-height: 600px !important;
    padding-bottom: 10px;
}

.navbar{
    margin-bottom: 5px;
}

.navbar-default {
  background-color: #eee!important;
  border-color: #eeeeee;
}

/*
 * Edinburgh Imaging
 */

#sectionHeader {
    clear: both;
    background: none;
    height: 130px;
    position: relative;
}


#sectionHeader span {
   display: block;
   font-size: 167% /* 22px */;
}

#sectionHeader a {
    text-decoration: none;
    color: #000;
}

a #parentTitle {
    background: white;
    font-weight:normal;
    font-size:22px;
    color: #00325F;
    padding: 10px;
    opacity: 0.75;
    filter: alpha(opacity=75);
}

#parentTitle {
	position:absolute; 
    top: 0;
    left: 0;
    font-size: 175%;
    width: 350px;
    font-family: 'tahoma','lucida grande', arial, helvetica, sans-serif;
}

#parentTitle:hover {
	background: #00325F; 
	color: white; 
}


.btn {
    background-color: #4CAF50;
    /*background-image: linear-gradient(#0098c9, #008cba 6%, #0080ab);
    background-repeat: no-repeat;*/
    color: white;
    padding: 5px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.btn:hover, .btn:focus {
    background-color: #3e8e41;
}

.btn a {
    color: white;
    text-decoration: none;
}


.title_left
{
    /*display: inline-block;*/
    float:left;
}
.title_right
{
    /*display: inline-block;*/
    float:right;
    margin-top:0px;
    margin-right:100px;
}
.title_left h3
{
    margin-top: 0px;
}
.title_left-test h3
{
    margin-top: 0px;
}
.title_right-test
{
    /*display: inline-block;*/
    float:right;
    margin-top:0px;
    margin-right:0px;
}


    /* Dropdown Button */

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    float:right;
    margin-right:100px;
}


/* Dropdown button on hover & focus */

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9 !important;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) !important;
    z-index: 1;
    float:right;
    /*margin-right:140px;*/
    top: 30px;
    /*padding-right: 30px;*/
}


/* Links inside the dropdown */

.dropdown-menu > li > a {
    color: black;
    padding: 5px 14px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */
.dropdown-menu > li > a:hover {   
    color: black;
    background-color: #f1f1f1 !important;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
/*.show {display:block;}*/

.delete-button {
    color: black;
    outline: none;
    border: 0px;
    display: block;
    padding: 5px 14px;
    /*margin-left: 0px;
    float: left;*/
    text-align:left;
    box-sizing: none;
    background-color: #f9f9f9 !important;
    min-width: 160px;
    text-decoration: none;
    /*background-color: transparent;*/
}


.delete-button:hover {   
    color: black;
    background-color: #f1f1f1 !important;
}

.form-text {
    padding-top: 7px;
}

.form-checkbox {
    padding-top: 7px;
}

 .box {
    border: 1px solid lightgray;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}

.show-buttons {
    padding-top: 5px;
    text-align: right;
}

.action {
       /*margin-right:240px;*/
       float: right;
}

.action-header {
       margin-right:100px;
       float: right;
}

.delete-buttons {
    margin-top: -5px;
    /*padding-top: -10px;*/
    float: right;
}

.delete-buttons-images {
    margin-top: 20px;
    /*padding-top: -10px;*/
    float: right;
}

.listTests{
        clear: left;
}

.listLectures{
        clear: left;
}

.listChoices{
        clear: left;
}

.listQuestions{
        clear: left;
}

.showContent{
        clear: left;
}

.fa-check{
    color: #3a87ad;
}

.course_pages{
    display: inline-block;
    padding-right:30px;
}

.test-indent{
    padding-left:30px;
}

.listLectures-indent{
    padding-left:30px;
    padding-bottom:10px;
}