


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 196px;
 
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 196px;
  /*background-color: #e6e6e6 !important;*/
  background-color: #eee !important;
}

.footer_container {
  /*background-color: #e6e6e6 !important;*/
  background-color: #eee !important;
}
